# Gradle
.gradle/
build/
bin/
out/

# Eclipse
.classpath
.project
.settings/
.metadata

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/
.history/

# Minecraft
run/
out/

# Mac
.DS_Store

# Misc
*.log
*.jar
